LevelAsset(
    name: "Лес",
    size: (20, 20),
    theme: "forest",
    map: [
        "###.############.###",
        "###.############.###",
        "###.####~~~~~###.###",
        "###.###~~~~~####.###",
        "###.####~~~~####.###",
        "###.############.###",
        "###.############.###",
        "###.###.....####.###",
        "###.###.###.####.###",
        "###.###.###.####.###",
        "###.###.###.####.###",
        "###.###.....####.###",
        "###.###.###......###",
        "###.###.############",
        "###.###.############",
        "###.###.###~~~~#####",
        "###.....###~~~~~####",
        "############~~~~####",
        "####################",
        "####################",
    ],
    paths: Some([
        [
            (3, -1),
            (3, 16),
            (7, 16),
            (7, 7),
            (11, 7),
            (11, 11),
            (7, 11),
            (7, 7),
            (11, 7),
            (11, 12),
            (16, 12),
            (16, -1),
        ]
    ]),
    tree_points: Some([
        (0, 17),
        (1, 17),
        (0, 18),
        (1, 18),
        (2, 18),
        (3, 18),
        (4, 18),
        (0, 19),
        (1, 19),
        (2, 19),
        (3, 19),
        (4, 19),
        (5, 19),
    ]),
    structure_points: Some([
        (9, 9),
        (5, 14)
    ]),
)
