LevelAsset(
    name: "Лес",
    size: (20, 20),
    theme: "forest",
    map: [
        "###.############.###",
        "###.############.###",
        "###.####~~~~~###.###",
        "###.###~~~~~####.###",
        "###.####~~~~####.###",
        "###.############.###",
        "###.############.###",
        "###.###.....####.###",
        "###.###.###.####.###",
        "###.###.###.####.###",
        "###.###.###.####.###",
        "###.###.....####.###",
        "###.###.###......###",
        "###.###.############",
        "###.###.############",
        "###.###.###~~~~#####",
        "###.....###~~~~~####",
        "############~~~~####",
        "~~##################",
        "~~~#################",
    ],
    paths: Some([
        [
            (3, -1),
            (3, 16),
            (7, 16),
            (7, 7),
            (11, 7),
            (11, 11),
            (7, 11),
            (7, 7),
            (11, 7),
            (11, 12),
            (16, 12),
            (16, -1),
        ]
    ]),
    structure_points: Some([
        (9, 9),
        (5, 14),
        (14, 10)
    ]),
)
