LevelAsset(
    name: "Зиг-заг",
    size: (20, 20),
    theme: "forest",
    map: [
        "~~~~~~~~~~~~~~##.###",
        "~~~~~~~~~~~~~~##.###",
        "#~~~~~~~~~~~####.###",
        "################.###",
        "################.###",
        "####.............###",
        "####.###############",
        "####.###############",
        "####.###############",
        "####..........######",
        "~~###########.######",
        "~~~##########.######",
        "#~~~#########.#####~",
        "#~~~###.......##~~~~",
        "#~~####.#########~~~",
        "~~~####.############",
        "~~~####.############",
        "~~#####.............",
        "####################",
        "####################",
    ],
    paths: Some([
        [
            (16, -1),
            (16, 5),
            (4, 5),
            (4, 9),
            (13, 9),
            (13, 13),
            (7, 13),
            (7, 17),
            (20, 17),
        ],
    ]),
    structure_points: Some([
        (6, 7),
        (11, 11),
        (9, 15)
    ]),
)
