@font-face {
    font-family: "Fairfax";
    src: url("/Fairfax.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    border: none;
    font-family: "Fairfax" !important;
    image-rendering: pixelated;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAYElEQVQ4y2PsXLzjPwMUcPPwMeADX798whBjokQz3AByNYMNoEQzihfI0QyynIkSzThdQKxmrAaQohnDAFI1oxhAjma4AeRqBhtAiWaC6YCYRMZEiWacLiAleTNRohkEAJWwMwOA6/iGAAAAAElFTkSuQmCC);
    background-repeat: repeat;
    background-size: calc(16px * 8);
    overflow: hidden;
}
canvas {
    background-color: transparent;
    outline: none;
}

#start {
    padding: 0px 24px;
    background: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: 16px solid;
    border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jAAAuIwF4pT92AAAArklEQVQ4y2NkAILA+Oz/DFDwilONAR8Q+34Lzl6/cCojI7JmUg0AARYYQ0hMisHQypHhxGcpvAZY8D5jOH9sP8O7V89QDQBp5hMUZnAT/MmAHwiD1e7dsBRiAMzJIJtBmj+9f4tXO8gSkFqYPiZsit68fEaUGE4DRMSliBLDaQApYJAaQNdAZIElTVAKAyUSUDwTAiC1X6H64CkRlDxJScowQHFmYgJlSXJjAKQXAIgSSO/EM/MeAAAAAElFTkSuQmCC)
        6 fill;
}
#start:hover {
    filter: brightness(95%);
}
#start:active {
    filter: brightness(90%);
}

#pico-td {
    display: none;
}
