LevelAsset(
    name: "coastal_highway",
    player_health: 100,
    player_money: 150,
    size: (20, 20),
    map: [
        "TTTF##.~~~~~~=~TTTTT",
        "TTTFF#.~~~~~~=~~~~~~",
        "TTTTF#.~~~~~~=~~~~~~",
        "TTFF##.~~~~~~=~#FTTT",
        "TTTF##.~~~~~~.##FFTT",
        "TTFF##.~~~##~.##F#T#",
        "TTF###.===..=.#FTTT#",
        "#TTFF#.~~~#F~.#FTTT#",
        "TTTTF#.~##T#~.#FFT##",
        "TTTTF#.~#TT#~.######",
        "#TTF##.~TTT#~.#FTTT#",
        "######.~##TT~.FTTTTT",
        "TTTF##.~~~~~~.#FTTT#",
        "TTTTF#.======.#FFTT#",
        "TTTF##.~~~~~~.#FTTT#",
        "##TF##.~~~~~~.#FFTT#",
        "#TTTF#.~~~~~~.##FTT#",
        "T#TTTF.~~~~~~.##FF##",
        "TT#TF#.~~~~~~.######",
        "TTT###.~~~~~~.######",
    ],
    paths: Some([
        [
            (6, -1),
            (6, 20)
        ], [
            (13, -1),
            (13, 20)
        ], [
            (6, -1),
            (6, 6),
            (13, 6),
            (13, 20)
        ]
    ]),
    waves: Some([
        Wave (
            reward: 100,
            enemies: [
                WaveEnemies (
                    enemy_variant: Truck(Mk1),
                    count: 5,
                    duration: 5.5,
                    spawn_interval: 0.5,
                    spawn_delay: 0.0,
                    path_index: 0
                )
            ]
        ),
        Wave (
            reward: 100,
            enemies: [
                WaveEnemies (
                    enemy_variant: Truck(Mk1),
                    count: 5,
                    duration: 5.5,
                    spawn_interval: 0.5,
                    spawn_delay: 0.0,
                    path_index: 0
                ),
                WaveEnemies (
                    enemy_variant: Truck(Mk1),
                    count: 5,
                    duration: 5.5,
                    spawn_interval: 0.5,
                    spawn_delay: 0.0,
                    path_index: 1
                )
            ]
        ),
        Wave (
            reward: 100,
            enemies: [
                WaveEnemies (
                    enemy_variant: Truck(Mk1),
                    count: 5,
                    duration: 5.5,
                    spawn_interval: 0.5,
                    spawn_delay: 0.0,
                    path_index: 0
                ),
                WaveEnemies (
                    enemy_variant: Truck(Mk1),
                    count: 5,
                    duration: 5.5,
                    spawn_interval: 0.5,
                    spawn_delay: 0.0,
                    path_index: 1
                ),
                WaveEnemies (
                    enemy_variant: Truck(Mk1),
                    count: 5,
                    duration: 7.7,
                    spawn_interval: 0.5,
                    spawn_delay: 0.0,
                    path_index: 2
                )
            ]
        )
    ])
)
