LevelAsset(
    id: "<level.id>",
    size: (<level.size.x>, <level.size.y>),
    map: [
        "###.############.###",
        "###.####~~~~####.###",
        "###.####~~~~~###.###",
        "###.###~~~~#####.###",
        "###.############.###",
        "###.############.###",
        "###.############.###",
        "###.###.....####.###",
        "###.###.###.####.###",
        "###.###.###.####.###",
        "###.###.###.####.###",
        "###.###.....####.###",
        "###.###.###......###",
        "###.###.############",
        "###.###.#######~~###",
        "###.###.######~~~###",
        "###.....####~~~~~~##",
        "##########~~~~~~####",
        "~~######~~~~~~~~####",
        "~~~~################",
    ],
    paths: [
        [
            (3, 0),
            (3, 16),
            (7, 16),
            (7, 7),
            (11, 7),
            (11, 11),
            (7, 11),
            (7, 7),
            (11, 7),
            (11, 12),
            (16, 12),
            (16, 0),
        ],
    ],
)
