LevelAsset(
    name: "zigzag",
    player_health: 50,
    player_money: 50,
    size: (20, 20),
    map: [
        "~~~~~~~~~~~~~~##.###",
        "~~~~~~~~~~~~~~##.###",
        "#~~~~~~~~~~~####.###",
        "################.###",
        "################.###",
        "####.............###",
        "####.###############",
        "####.###############",
        "####.###############",
        "####..........######",
        "~~###########.######",
        "~~~##########.######",
        "#~~~#########.#####~",
        "#~~~###.......##~~~~",
        "#~~####.#########~~~",
        "~~~####.############",
        "~~~####.############",
        "~~#####.............",
        "####################",
        "####################",
    ],
    tile_symbols: Some(TileSymbols (
        ground: '#',
        flower: 'F',
        tree: 'T',
        road: '.',
        bridge: 'B',
        water: '~',
    )),
    paths: Some([
        [
            (16, -1),
            (16, 5),
            (4, 5),
            (4, 9),
            (13, 9),
            (13, 13),
            (7, 13),
            (7, 17),
            (20, 17),
        ],
    ]),
    waves: Some([
        [
            Wave (
                enemy_variant: Truck,
                count: 5,
                duration: 20.0,
                spawn_interval: 0.5,
                spawn_delay: 0.0,
                path_index: 0
            ),
        ],
    ])
)
